<% layout('layouts/boilerplate') %>

    <div class="card mt-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Edit Blog Post</h5>

            <form action="/blog/<%= id %>?_method=PUT" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Blog Title: </label>
                    <input type="text" class="form-control" id="title" name="blog[title]" value="<%= blog.title %>" required>
                </div>

                <div class="mb-3">
                    <label for="blog" class="form-label">Blog: </label>
                    <textarea class="form-control" id="blog" name="blog[content]" rows="15" cols="30" required><%= blog.content %> </textarea>
                  </div>

                <div class="mb-3">
                    <label for="author" class="form-label">Author: </label>
                    <input type="text" class="form-control" id="author" name="blog[author]" value="<%= blog.author %>" required>
                </div>

                <button class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>