<% layout('layouts/boilerplate') %>

    
    <ul>
        <% for(blog of blogs) { %>
            <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %> </h5>
                  <p class="card-text">Written By : <%= blog.author %> </p>
                  <form action="/blog/<%=blog._id %>">
                    <button class="btn btn-primary mt-4">Show blog</button>
                  </form>
                </div>
            </div>
        <% } %>  
    </ul>


    